/* custom font */
@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');

/* variables */
:root {
  --body:#0a3d62;
  --primary:#131212;
  --secondary:#f7f1e3;
  --warning:#b33939;
  --navbar:#60a3bc;
  --form:#3c6382;
}

/* base styles  */
* {
  margin: 0;
  padding: 0;
  font-family: 'Slabo 27px', serif;
  color: var(--primary);
}
body {
  background: var(--body);
}
a {
  text-decoration: none;
}

/* buttons */
button, .btn { 
  background: var(--secondary);
  border-radius: 8px;
  border: 0;
  padding: 8px 12px;
  font-weight: 600;
  cursor: pointer;
  display: inline-block;
}
button:hover, .btn:hover {
  background: var(--primary);
  color: white;
}
button:disabled {
  opacity: 0.5;
  color: var(--primary);
  background: var(--secondary);
  cursor: not-allowed;
}

/* forms */
form {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 1px 2px 3px rgba(50,50,50,0.05);
  border: 1px solid  var(--primary);
  background: white;
  background-color: var(--form);;
}
input, textarea {
  border: 0;
  border-bottom: 1px solid var(--secondary);
  padding: 10px;
  outline: none;
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 20px auto;
}

/* error text */.error {
  color: var(--warning);
  font-size: 14px;
  margin: 16px 0;
}


.navbar {
  padding: 16px 10px;
  margin-bottom: 60px;
  background: var(--navbar);
}
nav {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
nav img {
  max-height: 60px;
  border-radius: 50px;
}
nav h1 {
  margin-left: 20px;
}
nav .links {
  margin-left: auto;
}
nav .links a, button {
  margin-left: 16px;
  font-size: 14px;
}

.single {
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  background: white;
  margin: 16px 0;
  transition: all ease 0.2s;
}
.thumbnail {
  max-width: 150px;
  max-height: 150px;
  overflow: hidden;
  border-radius: 10px;
}
img {
  max-width: 100px;
  max-height: 100px;
  display: block;
}
.info {
  margin: 0 30px;
}
.work-number {
  margin-left: auto;
}

.work-details {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 80px;
}
.image {
  overflow: hidden;
  border-radius: 20px;
  position: relative;
  padding: 160px;
}
.image img {
  display: block;
  position:absolute;
  top: 0;
  left: 0;
  max-width: 150%;
  max-height: 150%;
}
.work-info {
  text-align: center;
}
.workt-info h2 {
  font-size: 28px;
  margin-top: 20px;
  color:var(--secondary)
}
.work-info p {
  margin-bottom: 20px;
}
.username {
  color: #999;
}
.description {
  text-align: left;
  color:var(--secondary)
}
h2{
  color:var(--secondary)
}

.single-work {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px dashed var(--secondary);
  margin-bottom: 20px;
  
}
h3,.no-work{
  color:var(--primary)
}
